
@import '../styles/reset.scss';
@import '../styles/vars.scss';

.main {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items:center ;
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center; 
   background-color: $--color-dark-grayish-blue;
   border-radius: 10px;
   padding: 20px;
   height: fit-content;
   margin: 10px;

   &__adviceNumber {
   color: $--color-neon-green;
   margin-top: 40px; 
   text-transform: uppercase;
   }

   &__advice {
    font-size: 28px;
    color: $--color-light-cyan;
    margin-bottom: 30px;
    text-align: center;
   }

   &__lineDesktop {
    display: none;
   }

   &__circle {
    background-color: $--color-neon-green;
    padding: 20px;
    border-radius: 50%;
    border: none;
    position: relative;
    top: 50px;

    &:active {
        box-shadow: 0 0 30px $--color-neon-green;
    }
   } 

   @media all and (min-width: 1200px) {

    & {
        display: flex;
        width: 500px;
        margin: 0px;

        &__lineMobile {
            display: none;
        }

        &__lineDesktop {
            display: flex;
        }

        &__advice {
            width: 400px;
        }
    }
   }
}